* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 110vh;
    background: linear-gradient(#da2e2c 49%,
            #090029 49%,
            #090029 51%,
            #ffffff 51%);
}
.score-container{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 55%;
}
#start{
    background-color: #ffffff;
    height: 6em;
    width: 6em;
    font-size: 1.8em;
    border: 0.4em solid #090029;
    border-radius: 50%;
    cursor: pointer;
}
